<%= form_for [@user, @idea] do |f| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :created_by_id %>
    <%= f.text_field :created_by_id %>
  </div>

  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
