<div class="col s12 m6">
  <div class="card hoverable">
    <% if idea.private %>
      <%= render partial: 'shared/ribbon', locals: { name: "private", color: "red" } %>
    <% elsif (idea.name.include?("amazon.com") && idea.name.include?("wishlist")) %>
      <%= render partial: 'shared/ribbon', locals: { name: "Wishlist", color: "green" } %>
    <% elsif idea.created_by != current_user %>
      <%= render partial: 'shared/ribbon', locals: { name: "From #{idea.created_by.first_name}", color: "green" } %>
    <% elsif idea.created_by = current_user %>
      <%= render partial: 'shared/ribbon', locals: { name: "From you", color: "green" } %>
    <% end %>
    <div class="card-image">
      <!-- <img src="/santa-wave.gif"> -->
      <span class="card-title green-text text-darken-2"></span>
    </div>
    <div class="card-content">
      <span class="card-title">Idea</span>
      <hr>
      <p class="flow-text" style="word-wrap: break-word;"><%= auto_link(idea.name, :html => { :target => '_blank' }) %></p>
    </div>
  </div>
</div>
