<p id="notice"><%= notice %></p>

<h1>Ideas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Private</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.created_by %></td>
        <td><%= idea.private %></td>
        <td><%= link_to 'Show', user_idea_path(@user, idea) %></td>
        <td><%= link_to 'Edit', edit_user_idea_path(@user, idea) %></td>
        <td><%= link_to 'Destroy', user_idea_path(@user, idea), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_user_idea_path %>
