<div class="row">
  <!-- <div class="col m1">
  </div> -->
  <div class="col m3">
    <div class="profile-picture">
      <%= image_tag(@user.avatar.url(:large), class: "circle responsive-img") %>
      <!-- <img src="/santa-wave.gif" class="circle responsive-img"> -->
    </div>
    <div class="profile-name center-align">
      <%= @user.first_name %>
    </div>
    <div class="profile-links">
      <div class="collection">
      <%= link_to ('<i class="small material-icons" style="vertical-align: bottom; padding-right: .25em;">home</i> Overview').html_safe, user_path(@user), class: "collection-item green-text text-darken-2" %>
      <%= link_to ('<i class="small material-icons" style="vertical-align: bottom; padding-right: .25em;">assignment</i> Assignments').html_safe, user_assignment_index_path(@user), class: "collection-item green-text text-darken-2" %>
      <%= link_to ('<i class="small material-icons" style="vertical-align: bottom; padding-right: .25em;">textsms</i> Ideas').html_safe, user_ideas_path(@user), class: "collection-item green-text text-darken-2" %>
      </div>
    </div>
  </div>
  <div class="col m1">
  </div>
  <div class="col m8">
    <% if @current_assignments %>
      <% @current_assignments.each do |assignment| %>
        <%= render partial: 'assignments/assignment', locals: { assignment: assignment } %>
      <% end %>
    <% end %>
  <% if @ideas %>
      <% @ideas.each do |idea| %>
        <%= render partial: 'ideas/idea', locals: { idea: idea } %>
      <% end %>
    <% end %>
    <% if @previous_assignments %>
      <% @previous_assignments.each do |assignment| %>
        <%= render partial: 'assignments/assignment', locals: { assignment: assignment } %>
      <% end %>
    <% end %>
  </div>
  <!-- <div class="col m1">
  </div> -->
</div>
