<!DOCTYPE html>
<html>
  <head>
    <title>Santa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <%= link_to ('<img src="/santa-wave.gif" style="height 80px; width: 80px;">').html_safe, users_path, class: 'brand-logo' %>
      <ul id="nav-mobile" class="right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.first_name, edit_user_registration_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path) %></li>
        <% end %>
      </ul>
    </div>
  </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%= render partial: 'shared/menu' %>
    </div>
  </body>
</html>
