<!DOCTYPE html>
<html>
  <head>
    <title>Santa</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper red">
        <a href="<%= root_path %>" class="brand-logo white-text" style="margin-left: 1em;"><i class="material-icons">home</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= render partial: 'devise/shared/navbar_links' %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
